@font-face {
    font-family: "Cloister Black";
    src: url(source/fonts/CloisterBlack.ttf);
}

:root{
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --blue-super-soft: #9EB8CB;
    --blue-soft: #346991;
    --blue-hard: #326891;
    --grey-soft: #5A5A5A;
    --grey-hard: #44444b;
    --red: #D00631;
    --green: #245721;
    --black-grey: #3b3b3b;
}

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body li{
    list-style-type: none;
}

.container{
    max-width: 120rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header-section h1{
    font-family: "Cloister Black";
    font-size: 6rem;
    text-align: center;
}

.header-section a{
    padding: 1rem;
    color: var(--black-grey)
}

.header-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.complete{
    width: 100%;
    margin: auto;
}

.header-section.medium-page-content-1{
    margin: auto;
    align-items: center;
    justify-content: center;
}

.medium-page-content-1 a{
    text-decoration: none;
    text-align: center;
}

.menu-button{
    bottom: 0;
    text-align: center;
    display: none;
}

.menu-content{
    display: flex;
}

.menu-content a{
    text-decoration: none;
}

.menu-content li{
    list-style-type: none;
    padding-bottom: 2rem;
}

.menu-content{
    position: absolute;
    top: 5rem;
    left: -17rem;
    font-weight: bold;
    font-size: 1.5rem;
    flex-direction: column;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0.1rem;
    border-color: lightgray;
    box-shadow: 0.1rem 0.1rem 0.3rem black;
    min-width: 16rem;
    transition: linear 0.4s all;
}

.menu-button-label::after {
    content: '☰';
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.menu-button:checked~.menu-content{
    left: -1rem;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-button{
    bottom: 0;
    text-align: center;
    display: none;
}

.search-content{
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 0;
    height: auto;
    transition: linear 0.4s all;
}

.search-button-label{
    transform: rotate(190deg);
}

.search-button-label::after {
    content: "☌";
    font-size: 1.8rem;
    line-height: 1.5rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.8rem;
    cursor: pointer;
}

.search-button:checked~.search-content{
    width: auto;
}

.search-content button{
    background-color: var(--blue-super-soft);
    color: #FFFFFF;
    font-size: 1rem;
    padding: 0.5rem;
    border-style: solid;
    border-color: var(--blue-soft);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: linear 0.4s all;
}

.search-content button:hover{
    background-color: var(--blue-soft);
    border-color: var(--blue-super-soft);
    transition: linear 0.4s all;
}

.bold{
    font-weight: bold;
}

.menu-list a{
    text-decoration: none;
    color: #000000;
    font-size: 1.37rem;
}

.main-button{
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0.3rem 0 0.3rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #114369;
    background-color: var(--blue-soft);
    color: #FFFFFF;
    font-family: Roboto;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: linear 0.4s all;
}

.main-button:hover{
    background-color: #114369;
}

.header-section-column{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: auto;
}

.header-section-column a, .header-section-column span{
    text-align: left;
    text-decoration: none;
    padding: 0;
    font-size: 1.3rem;
    color: #000000;
    transition: linear 0.4s all;
}

.header-section-column a:hover{
    color: var(--grey-soft);
}

.force-margin{
    margin-left: 0;
}

.basic-a{
    font-size: 1.3rem;
    color: #000000;
    text-decoration: none;
}

.cloud{
    color: var(--grey-soft);
    font-size: 2rem;
    padding: 0 0.5rem 0 0.5rem;
}

.actual-temperature{
    color: black;
    font-size: 1.4rem;
    padding: 0 0.5rem 0 0.5rem;
}

.max-temp{
    color: black;
    font-size: 1.2rem;
    padding: 0 0.5rem 0 0.5rem;
}

.min-temp{
    color: var(--grey-soft);
    font-size: 0 1.18rem 0 1.18rem;
}

.value{
    color: var(--green);
    padding-left: 3rem;
}

.grey-line-bottom{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.1rem;
    border-style: solid;
    border-color: lightgray;
}

.grey-line-up{
    border-top: 0.1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: lightgray;
}

.double-black-line{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.4rem;
    border-style: double;
    border-color: black;
}

.container-row{
    max-width: 120rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.container-column{
    max-width: 120rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.body-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.body-section h1, .body-section-column h1{
    font-size: 3rem;
    margin: 1rem auto auto auto;
}

.body-section a, .body-section-column a{
    color: #000000;
    text-decoration: none;
}

.body-section ul, .body-section-column ul{
    padding-inline-start: 0;
    font-size: 1.36rem;
}

.body-section a:hover, .body-section-column a:hover{
    color: #5A5A5A;
}

.body-section-column{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.divide-left{
    width: 70%;
}

.divide-right{
    width: 30%;
}

.grey-line-right{
    border-top: 0;
    border-left: 0;
    border-right: 0.1rem;
    border-bottom: 0;
    border-style: solid;
    border-color: lightgray;
}

.body-section h2, .body-section-column h2{
    font-size: 1.55rem;
}

.body-section h3, .body-section-column h3{
    font-size: 1.35rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--red);
}

.body-section h4, .body-section-column h4{
    font-size: 1.35rem;
    padding: 0;
    margin: 0;
    color: var(--grey-soft);
}

.black-line-up{
    border-top: 0.1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: black;
}

video{
    width: 100%;
    height: auto;
}

.force-width{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.credit{
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.3rem;
}

.special-squad{
    display: block;
    text-align: center;
    background-color: #D5CFBB;
    overflow: hidden;
    max-height: 11rem;
}

.special-squad h2:hover{
    color: #000000;
}

.body-section table{
    overflow: auto;
    color: var(--black-grey);
}
.body-section table:hover{
    color: var(--black-grey);
}

.body-section thead{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.body-section tbody{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    font-size: 1.4rem;
}

.tittle-paragrap{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.35rem;
    padding: 1rem;
}

.button-paragrap{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin: 1rem;
    color: #3b3b3b;
    background-color: rgb(240, 239, 239);
}

.btn-left{
    display: none;
}

.btn-left-label::after {
    content: "‹";
    font-size: 2.5rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    padding: 0.1rem 0.5rem 0.6rem 0.5rem;
    border-radius: 90%;
    background-color: rgb(230, 228, 228);
    margin: 1rem;
    position: absolute;
    top: 15rem;
}

.btn-left:checked~.carroussel-start{
    margin-left: -35rem;
    transition: linear 0.4s all;
}

.btn-right{
    display: none;
}

.btn-right-label::after {
    content: "›";
    font-size: 2.5rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    padding: 0.1rem 0.5rem 0.6rem 0.5rem;
    border-radius: 90%;
    background-color: rgb(230, 228, 228);
    position: absolute;
    top: 15.8rem;
    right: 7rem;
}

.btn-right:checked~.carroussel-start{
    margin-left: 0rem;
    transition: linear 0.4s all;
}

.noticiary-img{
    width: 19rem;
    height:16rem;
}

footer h1{
    font-family: "Cloister Black";
    color: #000000;
    font-size: 2.8rem;
}

footer a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.45rem;
    margin: 0.6rem auto 0.6rem 0;
}

footer a:hover{
    text-decoration: underline;
}

footer h2{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.57rem;
}

footer h2:hover{
    text-decoration: underline;
}

footer h3{
    color: #1f1f1f;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.55rem;
}

.footer-credits{
    color: #858282;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.double-grey-line{
    border-top: 0.4rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: double;
    border-color: lightgray;
}

.footer-section{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 1rem;
}

.footer-section-column{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: stretch;
    padding: 1rem;
}

.symbol-1::before{
    content: "✉";
    font-size: 2.5rem;
    padding-right: 1rem;
}

.symbol-2::before{
    content: "DP";
    font-family: "Cloister Black";
    font-size: 2.5rem;
    padding-right: 1rem;
}

.symbol-3::before{
    content: "♞";
    font-size: 2.5rem;
    padding-right: 1rem;
}

.symbol-4::before{
    content: "⛾";
    font-size: 2.5rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 1110px){
    .change-scroll{
        overflow: scroll;
    }
    .body-section{
        overflow-x: scroll;
    }
    .body-section-column{
        overflow-x: scroll;
    }
    .change-display{
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px){
    .full-page-content{
        display: none;
    }
    .search{
        display: none;
    }
    .body-section{
        overflow: auto;
    }
    .body-section-column{
        overflow: auto;
    }
    .body-section{
        flex-direction: column;
    }
    .divide-left{
        width: 100%;
    }
    .divide-right{
        width: 100%;
    }
    .noticiary-img{
        width: 100%;
        height: auto;
    }
    .grey-line-right{
        border-color: white;
    }
    .grey-line-bottom{
        border-color: white;
    }
    .grey-line-up{
        border-color: white;
    }
}

@media only screen and (max-width: 800px){
    .medium-page-content-1{
        display: none;
    }
    .footer-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-button{
        background-color: #000000;
        border-color: #000000;
    }
    .main-button:hover{
        background-color: #000000;
        border-color: #000000;
    }
}